.testimonials {
    background-color: #ef8172;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat';
  
}

.testimonials .container-fluid {
    padding: 7% 15% 7%;
}

.testimonials .testimonial-image {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
    align-items: center;
    
  }

  .testimonials .testimonial-text {
    
    font-weight: 900;
    text-align: center;
    font-size: 3rem;
    line-height: 1.5;
  }
 
  @media (max-width:640px) {

    .testimonials .testimonial-image {
       
        margin: 40px 100px 10px 100px;
        width: 30%;
     
      }
}
